@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,500&family=Oswald:wght@600&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

li, a{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration:none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:darkred;
}

.logo{
    cursor: pointer;
    height: 35px;
    width: 120px;
}

.nav__links{
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: gray;
}

.button {
    font-family: 'Fira Sans', sans-serif;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 0 5px black;
}

.button:hover {
    opacity: 0.6;
}

.button1 {
    background-color: #a9a9a9;
}

.button2{
    background-color: #f44336;
}

.content-table{
    font-family: 'Fira Sans', sans-serif;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px black;
    margin-right: auto;
    margin-left: auto;
}

.content-table thead tr {
    background-color: darkred;
    color: #ffffff;
    text-align: left;
    font-weight: bold;

}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid lightgray;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid darkred;
}

.divform {
    font-family: 'Fira Sans', sans-serif;
    border-radius: 5px;
    background-color: #f2f2f2;
    box-shadow: 0 0 20px black;
    padding: 20px;
    margin: 25px 0;
    width: 400px;
    margin-left: auto;
    margin-right: auto;

}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    opacity: 0.6;
  }




